<div id="modal_journeys_delete" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_ban">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div>¿Estás seguro de querer borrar el recorrido '{{modal_journeys_delete_id}}'</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="delete_journey(modal_journeys_delete_id)">Borrar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
<div class="table-responsive journey_list">
  <table class="table" ts-wrapper>
    <thead>
      <tr>
        <th ts-criteria="id|parseInt" ts-default>ID</th>
        <th>Usuario</th>
        <th>Ruta</th>
        <th class="justify_center">Horario</th>
        <th ts-criteria="days_of_week.length|parseInt">Días de la semana</th>
        <th class="justify_center" ts-criteria="seats|parseInt">Cupos</th>
        <th>Estilos musicales</th>
        <th>Pasajeros</th>
        <th>Likes</th>
        <th ng-hide="currentUser.type == 'admin'"></th>
        <th ng-hide="currentUser.type == 'admin'"></th>
        <th ng-show="current_user_data.type == 'admin'"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="justify_center" ng-hide="(journeys | filter: filterBy).length > 0">
        <td colspan="9">No hay recorridos disponibles</td>
      </tr>
      <tr ng-repeat="journey in filtered = (journeys | filter: filterBy)" ts-repeat>
        <td class="vert-align">{{journey.id}}</td>
        <td class="vert-align"><a href="#/profiles/{{journey.user_id}}">{{journey.user_id}}</a></td>
        <td class="vert-align">{{journey.route}}</td>
        <td class="vert-align justify_center">{{journey.time}}</td>
        <td class="vert-align">
          <ul class="day_of_week">
            <li tooltip-placement="top" tooltip="{{day.text}}" ng-repeat="day in days" ng-class="{'selected': journey.days_of_week.indexOf(day.number) >= 0}">{{day.label}}</li>
          </ul>
        </td>
        <td class="vert-align justify_center">{{journey.seats - journey.passengers.length}} / {{journey.seats}}</td>
        <td class="vert-align">
          <ul class="music_styles">
            <li tooltip-placement="top" tooltip="{{style.text}}" class="{{style.key}}" ng-repeat="style in music_styles" ng-hide="journey.music_styles.indexOf(style.key) == -1">{{style.label}}</li>
          </ul>
        </td>
        <td class="vert-align">
          <div ng-hide="journey.passengers.length > 0">Ninguno</div>
          <ul class="passengers" ng-show="journey.passengers.length > 0">
            <li ng-repeat="passenger in journey.passengers"><a href="#/profiles/{{passenger}}">{{passenger}}</a></li>
          </ul>          
        </td>
        <td class="vert-align justify_center">{{journey.likes.length || 0}}</td>
        <td class="vert-align" ng-hide="currentUser.type == 'admin'">
          <button class="btn btn-primary btn-xs" ng-click="join_journey(journey.id)" ng-hide="! currentUser.id || journey.user_id == currentUser.id || journey.passengers.indexOf(currentUser.id) >= 0 && journey.passengers.length < journey.seats">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </button>
          <button class="btn btn-primary btn-xs" ng-click="leave_journey(journey.id)" ng-hide="! currentUser.id || journey.user_id == currentUser.id || journey.passengers.indexOf(currentUser.id) < 0">
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
          </button>
        </td>
        <td class="vert-align" ng-hide="currentUser.type == 'admin'">
          <button class="btn btn-primary btn-xs" ng-click="like_journey(journey.id)" ng-hide="! currentUser.id || journey.likes.indexOf(currentUser.id) >= 0">
            <i class="fa fa-thumbs-up fa_icon" aria-hidden="true"></i>
          </button>
          <button class="btn btn-primary btn-xs" ng-click="unlike_journey(journey.id)" ng-hide="! currentUser.id || journey.likes.indexOf(currentUser.id) < 0">
            <i class="fa fa-thumbs-down fa_icon" aria-hidden="true"></i>
          </button>

        </td>
        <td class="vert-align" ng-show="currentUser.type == 'admin'">
          <button class="btn btn-danger btn-xs" ng-click="confirm_delete_journey(journey.id)" data-toggle="modal" data-target="#modal_journeys_delete">
            <i class="fa fa-trash fa_icon" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
