<div class="container">
  <div class="jumbotron">
    <i class="fa fa-car fa_icon" style="font-size: 12em; vertical-align: middle; margin: 0 20px;"></i>
    <div style="font-size: 6em; display: inline-block; vertical-align: middle;">Carpooling</div>
  </div>

  <div class="row marketing why_carpooling">
    <h4>Ahorra dinero</h4>
    <p>Súmate a los beneficios que trae el Carpooling. Al compartir auto ya no tendrás que pagar tu solo por peajes y combustible. Entre más se sumen a tu grupo, menos gastos individuales habrán, y tendrás más para cubrir lo que realmente importa.</p>

    <h4>Contamina menos</h4>
    <p>Compartir auto significa que menos vehículos circularan por las calles. Esto se traduce en menos contaminación por persona. Únete al movimiento y reduce tu cuota de carbono, ayuda a la naturaleza y vive mejor.</p>

    <h4>Reduce el stress</h4>
    <p>Al compartir auto reduces directamente la congestión. Menos congestión significa menor tiempo de viaje. Esto te dejara más tiempo para compartir con los que quieres. Con menores tiempos de viajes ya no tendrás que madrugar para llegar temprano, y tampoco llegaras ya entrada la noche a tu casa y podrás disfrutar una mejor calidad de vida. Súmate al Carpooling y  empieza a vivir mejor.</p>
  </div>
</div>